<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users App Log/Reg</title>
</head>
<body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <p>{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <h1>Users App</h1>
  <h2>Register</h2>
  <form action="/register" method="post">
    <p>Name: <input type="text" name="name"></p>
    <p>Email: <input type="text" name="email"></p>
    <p>Password: <input type="password" name="password"></p>
    <p>Confirm: <input type="password" name="confirm"></p>
    <input type="submit" value="Register">
  </form>
  <h2>Login</h2>
  <form action="/login" method="post">
    <p>Email: <input type="text" name="email"></p>
    <p>Password: <input type="password" name="password"></p>
    <input type="submit" value="Login">
  </form>
</body>
</html>
