<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>World Countries</title>
</head>
<body>
  <h1>World DB with AJAX</h1>
  <button>Click To Populate Countries Table</button>
  <table>
    <thead>
      <th>Country</th>
      <th>Population</th>
      <th>Head of State</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr>
        <td>China</td>
        <td>1357000000</td>
        <td>Xi Jinping</td>
        <td><button>Remove</button><button>Edit</button></td>
      </tr>
    </tbody>
  </table>
</body>
</html>
