<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>World Countries</title>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
  <script>
    $(document).ready(function(){

      $('#get_countries').click(function(){
        $.get('/countries', function(countries){
          console.log(countries);
          $('tbody').html("");
          for (var i = 0; i < countries.length; i++){
            var html_str = "<tr class='"+countries[i].id+"'>";
            html_str += "<td>"+countries[i].name+"</td>";
            html_str += "<td>"+countries[i].population+"</td>";
            html_str += "<td>"+countries[i].head_of_state+"</td>";
            html_str += "<td><button class='remove'>Remove</button></td>";
            html_str += "</tr>";
            $('tbody').append(html_str);
            console.log(countries[i]);
          }
          // var html_str =
        }, 'json');
      });

      $('tbody').on('click', 'button.remove', function(){
        var country_row = $(this).closest('tr');
        var country_id = $(this).closest('tr').attr('class');
        $.get('/countries/'+country_id+'/destroy', function(response){
          if (response.status){
            country_row.remove();
          }else{
            alert('Country not deleted properly!');
          }
        }, 'json');
      });

    })
  </script>
</head>
<body>
  <h1>World DB with AJAX</h1>
  <button id="get_countries">Click To Populate Countries Table</button>
  <table>
    <thead>
      <th>Country</th>
      <th>Population</th>
      <th>Head of State</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr>
        <td>China</td>
        <td>1357000000</td>
        <td>Xi Jinping</td>
        <td><button class="remove_country">Remove</button><button class="edit_country">Edit</button></td>
      </tr>
    </tbody>
  </table>
</body>
</html>
