<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Flask</title>
</head>
<body>
	<div>
		{{all_users}}
	</div>
	<hr>

	<h2>Hello Everyone~</h2>
	
	<h3>Users</h3>
	<table border=1>
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
			</tr>
		</thead>
		<tbody>
			{% for user in all_users: %}
			<tr>
				<td>{{user.first_name}}</td>
				<td>{{user.last_name}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<form action="/create" method="post">
		<p>First Name: <input type="text" name="first_name"></p>
		<p>Last Name: <input type="text" name="last_name"></p>
		<input type="submit" value="Add new User">
	</form>
</body>
</html>