<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Flask</title>
</head>
<body>
	<div>
		{{all_users}}
	</div>
	<hr>

	<h2>Hello Everyone~</h2>

	<h3>Users</h3>
	<table border=1>
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
			</tr>
		</thead>
		<tbody>
			{% for user in all_users: %}
			<tr>
				<td><a href="/users/{{user.id}}">{{user.first_name}}</a></td>
				<td>{{user.last_name}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<a href="/users/new"><button>Create User</button></a>
</body>
</html>
