<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All Hobbies</title>
</head>
<body>
  <table>
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </thead>
    <tbody>
      {% for hobby in hobbies %}
      <tr>
        <td><a href="/hobbies/{{hobby.id}}">{{hobby.name}}</a></td>
        <td>{{hobby.description}}</td>
        <td><a href="/hobbies/{{hobby.id}}/edit">Edit</a> | <a href="/hobbies/{{hobby.id}}/delete">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
