<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>World Stuff</title>
  <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
  <script>
    $(document).ready(function(){
      $('button').click(function(){
        $.get('/countries', function(countries){
          for (var country_idx in countries){
            var html_str = "<tr>";
            html_str += "<td>"+countries[country_idx].name+"</td>";
            html_str += "<td>"+countries[country_idx].population+"</td>";
            html_str += "<td>"+countries[country_idx].head_of_state+"</td>";
            html_str += "<td>"+countries[country_idx].region+"</td>"
            html_str += "<td><a href='#' id='countries/"+countries[country_idx].id+"/delete'>Delete</a></td>"
            html_str += "</tr>";
            $('tbody').append(html_str);
          }
        }, 'json');
      });

      $('tbody').on('click', 'a', function(){
        var that = $(this);
        $.get($(this).attr('id'), function(response){
          console.log(response);
          if (response.status){
            $(that).parent().parent().hide();
          }
        }, 'json')
      })
    })
  </script>
</head>
<body>
  <h1>All Countries</h1>
  <button>Get Countries</button>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Population</th>
        <th>Head Of State</th>
        <th>Region</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
  <a href="/countries/new"><button>New Country</button></a>
</body>
</html>
