<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>World Stuff</title>
</head>
<body>
  <h1>Top Ten Populations</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Population</th>
        <th>Head Of State</th>
        <th>Region</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for country in result %}
        <tr>
          <td><a href="/countries/{{country.id}}">{{country.name}}</a></td>
          <td>{{country.population}}</td>
          <td>{{country.head_of_state}}</td>
          <td>{{country.region}}</td>
          <td><a href="/countries/{{country.id}}/edit">Edit</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="/countries/new"><button>New Country</button></a>
</body>
</html>
