<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" rel="stylesheet">
		<title>Edit {{ country['name'] }}</title>
	</head>
	<body>

		<form class="creation" action="/countries/{{ country['id'] }}/update" method="post">
			name<input type="text" name="name" value="{{ country['name'] }}">
			continent<input type="text" name="continent" value="{{ country['continent'] }}">
			form of government<input type="text" name="government_form" value="{{country['government_form']}}">
			head of state<input type="text" name="head_of_state" value="{{ country['head_of_state'] }}">
			<input type="submit" name="name" value="Commit Edits">
		</form>
	</body>
</html>
