<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login/Reg</title>
</head>
<body>
  {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
  {% endif %}
  <h1>Registration</h1>
  <form action="{% url '_register' %}" method="post">
    {% csrf_token %}
    <p>First Name: <input type="text" name="first_name"></p>
    <p>Last Name: <input type="text" name="last_name"></p>
    <p>Email: <input type="text" name="email"></p>
    <p>Password: <input type="password" name="password"></p>
    <p>Confirm Password: <input type="password" name="c_password"></p>
    <input type="submit" value="Register">
  </form>
  <h1>Login</h1>
  <form action="{% url '_login' %}" method="post">
    {% csrf_token %}
    <p>Email: <input type="text" name="email"></p>
    <p>Password: <input type="password" name="password"></p>
    <input type="submit" value="Login">
  </form>
</body>
</html>
